.cache
lib/include
lib/*.so
lib/*.a
build/
shaders/spirv
gfx/sprites/renders/*
gfx/sprites/sheets/*.png
gfx/sprites/*.png
gfx/sprites/*.lua
gfx/sprites/*.conf
compile_commands.json
csage
*.tiled-session
*~
*.blend1

!gfx/sprites/sprightgen.lua

