[submodule "tools/bear"]
	path = tools/bear
	url = https://github.com/rizsotto/Bear
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype
[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL/
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "tools/spright"]
	path = tools/spright
	url = https://github.com/houmain/spright
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LuaJIT/LuaJIT/
