.cache
lib/include
lib/*.so
lib/*.a
build/
shaders/spirv
gfx/sprites/renders/*.png
gfx/sprites/sheets/*.png
gfx/sprites/*.png
gfx/sprites/*.lua
compile_commands.json
csage
*.tiled-session
*~
*.blend1
